<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__block">
      <img width="158" height="84" src="images/logo-full.svg" alt="ПРОМЕТ">
    </div>
    <div class="footer__block">
      <div class="footer__block-inner">
        <div class="footer__cell">
          <h3 class="footer__block-title">Меню</h3>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="catalog.html">Каталог</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="contacts.html">Контакты</a></li>
          </ul>
        </div>
        <div class="footer__cell">
          <h3 class="footer__block-title">Контакты</h3>
          <p><a href="tel:+78008399933">8 (800) 839 99 33</a></p>
          <p><a href="mailto:info@promet.ru">info@promet.ru</a></p>
          <p>194044,<br> г.&nbsp;Санкт‑Петербург,<br> ул.Чугунная, дом&nbsp;20</p>
        </div>
      </div>
    </div>
    <div class="footer__block">
      <h3 class="footer__block-title">Социальные сети</h3>
      <div class="social-links">
        <a class="social-link" href="#" target="_blank" title="vk.com">
          <svg class="social-link__icon" aria-hidden="true"><use xlink:href="#vk" /></svg>
        </a>
        <a class="social-link" href="#" target="_blank" title="instagram.com">
          <svg class="social-link__icon" aria-hidden="true"><use xlink:href="#inst" /></svg>
        </a>
        <a class="social-link" href="#" target="_blank" title="facebook.com">
          <svg class="social-link__icon" aria-hidden="true"><use xlink:href="#fb" /></svg>
        </a>
      </div>
      <p class="footer__copyright">© 2020 Все права защищены.</p>
    </div>
  </div>
</footer>
