<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="main.html">
        <svg class="header__logo-icon" aria-hidden="true">
          <use xlink:href="#logo" />
        </svg>
      </a>
      <div class="header__dropdown-menu">
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="header__menu-item"><a class="header__menu-link" href="catalog.html">Каталог</a></li>
            <li class="header__menu-item"><a class="header__menu-link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
        <div class="header__phone-block">
          <a class="header__phone" href="tel:+78008399999">
            <svg class="header__phone-icon" aria-hidden="true"><use xlink:href="#phone" /></svg>
            <span>8 (800) 839 99 99</span>
          </a>
          <button class="header__recall-button" type="button">Заказать звонок</button>
        </div>
        <p class="header__copyright">© 2020 Все права защищены.</p>
      </div>
      <a class="header__search-link" href="#" title="Поиск">
        <svg class="header__search-icon" aria-hidden="true">
          <use xlink:href="#search" />
        </svg>
      </a>
      <button class=" js-menu-toggler header__menu-toggler menu-toggler" type="button" title="Меню">
        <svg class="menu-toggler__icon" aria-hidden="true">
          <use xlink:href="#burger" />
        </svg>
      </button>
    </div>
  </div>
</header>
